.footer__col-wrapper{
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__first-col,.footer__second-col{
    width: 49.5%;
}
.footer__first-col{
        width: 49.5%;
       text-align: end;
}

.footer__sect {
    width: 100%;
    margin: rem(63) auto;
    padding: 48px;
    box-shadow: rem(-5) rem(6) rem(17) rem(4) rgba(0, 0, 0, 0.11);
}
.black-gr{
    color: #fff;
    background-color: #000000;
}
.footer__text{
font-family: "Acrom - Extra Bold";
font-size: rem(7);
font-weight: 900;
text-transform: uppercase;
line-height: rem(18);
margin-bottom: rem(10);
}
.slash{
    position: relative;
}
.slash::after {
    content: "";
    display: block;
    height: 2rem;
    width: 0.1rem;
    background: #ff6c02;
    position: absolute;
    left: 1rem;
    top: -0.5rem;
    transform: rotate(80deg)
  }

.text__f {
    font-family: "Acrom", serif;
    font-size: rem(15);
    font-weight: 500;
    line-height: rem(21);
}


.footer__btn {
    display: block;
    margin: rem(55)auto;
    padding: rem(20) rem(35);
    background-color: #ff6c02;
    font-family: "Acrom-extrabold", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;

}
@media(min-width: 768px){
    .footer__sect {
        width: 60%;
    }
    .footer__text{
        font-size: rem(12);
    }
    .slash::after {
        height: 3rem;
        width: 0.2rem;
        left: 2rem;
        top: -1rem;
    }
}