.footer {

    &__section {
        min-width: 320px;
        max-width: prc(416px, 878px);
        padding: 48px 38px;
        margin: rem(63) auto;
        box-shadow: rem(-5) rem(6) rem(17) rem(4) rgba(0, 0, 0, 0.11);
    }

    &__col-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: rem(40);
    }

    &__first-col {
        width: 60%;
    }

    &__second-col {
        width: 40%;
    }

    &__first-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__text-first {
        display: inline-block;
        font-family: "Acrom-extrabold", serif;
        font-size: $blockTitleMobile;
        text-transform: uppercase;
        text-align: right;
    }

    &__text-first:nth-child(2n+1) {
        margin-bottom: rem(26);
    }
    
    &__text-second {
        position: relative;
        font-size: $blockTitleMobile;
        font-family: "Acrom-extrabold", serif;
        text-transform: uppercase;
        margin-left: 7px;
    }

    &__text-second:nth-child(-1n+2) {
        margin-bottom: rem(26);
    }

    &__text-f {
        font-family: "Acrom", serif;
        font-size: rem(15);
        font-weight: 500;
        line-height: rem(21);
    }
}

.footer-slash::before {
    content: "";
    display: block;
    min-height: 56px;
    min-width: 4px;
    background: #ff6c02;
    position: absolute;
    left: 26px;
    top: -24px;
    bottom: 0px;
    transform: rotate(76deg)
  }

.margin-btm {
    display: inline-block;
    margin-top: rem(4);
    text-align: right;
}

.text__correct {
    margin-top: rem(40);
}

.text__last {
    margin-top: 3px;
}

.footer__btn {
    display: block;
    margin: rem(55)auto;
    padding: rem(20) rem(35);
    background-color: #ff6c02;
    font-family: "Acrom-extrabold", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
}

@media (min-width: 786px) {

    .footer {

        &__text-first {
            font-size: $blockTitleNotebook;
        }
    
        &__text-second {
            font-size: $blockTitleNotebook;
        }

        &__first-col {
            width: 60%;
        }

        &__second-col {
            width: 40%;
        }
    }
    
    .text__correct {
        margin-top: rem(38);
    }

}


@media (min-width: 1200px) {
    .footer {
    
        &__text-first {
            font-size: $blockTitleDesctop;
        }
    
        &__text-second {
            font-size: $blockTitleDesctop;
        }

        &__first-col {
            width: 50%;
        }
    
        &__second-col {
            width: 50%;
        }
    
    }
    
    .text__correct {
        margin-top: rem(39);
    }

}
@media(min-width: 768px){
    .footer__sect {
        width: 60%;
    }
    .footer__text{
        font-size: rem(12);
    }
    .slash::after {
        height: 3rem;
        width: 0.2rem;
        left: 2rem;
        top: -1rem;
    }
}