
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: rem(20);
    padding-left: 1rem;
    padding-right: 1rem;
    &__logo__img {
        width: rem(75);
        height: rem(25);  
    }
    &__contact{
        &__email{
        margin-right: rem(20);  
        &::before{
            content: url(../img/letter-icon.png);
            margin-right: rem(5); 
        } 
      }  
    }

}

.p-nomber::before{
    content: url(../img/phone-icon.png);
    margin-right: rem(5);
}
@media (min-width: 768px) {
    .header__logo__img {
        width: rem(120);
        height: rem(40);  
    }
    .header__contact{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;    
    }

}