%flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

%before{
    content: "";
    background-color: #000000;
    display: block;
}

.one{
    padding-top: rem(40);
    padding-left: rem(16);
    padding-right: 1rem;
    margin-bottom: rem(60);
    
    &__main__tittle{
        @include title;
        text-transform: none;
        font-weight: 400;
        font-size: rem(30);
        margin-top: 0;
        margin-bottom: rem(15);
        line-height: 40px;
        &--black{
            background-color: black;
            color:#fff;
        }
    }
    &__main__description{
        width: 70%;
         &--before{
            font-family: "Acrom-extrabold";
            display: block;
            font-size: rem(10);
            position:relative;
            padding-left: rem(30);
            &::before{
                @extend %before;
                height: rem(1);
                width: rem(13.5);
                margin-right:rem(45);
                position: absolute;
                top:5px;
                left:0px;
            } 
         }
    } 
    &__article{
        position: relative;
        margin-top:rem(30);
        &__img{
           display: block;
           max-width: 100%;
           height: auto;
           margin: auto;
        }
        &__text{
            width: 80%;
            margin:auto;
            margin-top:rem(16);
            &__tittle{
               font-family: "Acrom-extrabold", sans-serif;
               color: #000;
               font-weight: 400;
               margin-bottom: rem(10);
               &::before{
                    @extend %before;
                    margin-bottom:20px;
                    height: 8px;
                    width: 8px;
                }
            }
            &__content{
                font-family: "Acrom-medium", sans-serif;
                color: #000000;
                font-size:$textSizeMobile;
                line-height: rem(13);
                margin-bottom: rem(12);
                   &:last-child{
                    margin-bottom: 0;   
                }
              
            }
        }
    }
   
}  
    
.gray-vetical-text-one {
    min-width: 300px;
    position: absolute;
    @include gray-vetical-text;
    font-size: rem(90);
    line-height: rem(75);
    transform: rotate(90deg) translatex(200%) translateY(-90%);   
        z-index: -1;
    }


@media (min-width: 768px) {
    .one{
        
        padding-top: rem(90);
    }
    .one__main__description{
        width: 56%;
        line-height: 28px;
        font-weight: 700;
    }
    .one__article{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        margin-top:rem(60);
    }
    .one__article__img{
        display: block;
        max-width: 50%;
       height: auto;
         margin: 0;
            
    }
    .one__article__text{
        margin-left: rem(15);
        width: 45%;
        margin-top:0;
    }
    .one__main__tittle{
        font-size: rem(45);
        line-height: 60px;
        margin-bottom: rem(35);
        
    }
    .one__main__description--before{
        font-family: "Acrom-extrabold";
            display: block;
          font-size: rem(18);  
        padding-left: rem(103);
    }
    .one__article__text__tittle{
        font-size: rem(30);
        line-height: 2.5rem;
      
    }
    .one__article__text__tittle::before{
        height: 16px;
        width: 16px;
    }
    .one__article__text__content{
        font-size:$textSizeSmart;
        line-height: 1.5625rem;
    }
    .one__main__description--before::before{
        height: rem(6);
        width: rem(57);
    }
    .gray-vetical-text-one {
        position: absolute;
        @include gray-vetical-text;
        font-size: rem(183);
        line-height: rem(75);
        transform: rotate(90deg) translatex(80%) translateY(-440%);   
            z-index: -1;
    }
}

@media (min-width: 915px) {
    .gray-vetical-text-one {
        position: absolute;
        @include gray-vetical-text;
        font-size: rem(183);
        line-height: rem(75);
        transform: rotate(90deg) translatex(80%) translateY(-600%);   
            z-index: -1;
        }
}


@media (min-width: 1200px) {
    .one__main__tittle{
        font-size: rem(60);
        line-height: 80px;
    }
    .one__main__description--before{
        font-size: rem(21);
         font-weight: 700;
    }
    .one__article__text__tittle::before{
        margin-bottom: rem(25);
    }
    .one__article__text__tittle{
        font-size: rem(37);
        font-weight: 400;
         line-height: rem(50);
        margin-bottom: rem(25);
    }
    .one__article__text__content{
        font-weight: 500;
        line-height: 25px;
        font-size: rem(15);
        margin-bottom: rem(32);
    }
    .gray-vetical-text-one {
        position: absolute;
        @include gray-vetical-text;
        font-size: rem(183);
        line-height: rem(75);
        transform: rotate(90deg) translatex(80%) translateY(-600%);   
        z-index: -1;
    }
}

