.section-four {
    
    &__container {
        max-width: 863px;
        margin: auto;
        padding: 0 rem(15);
        margin-bottom: rem(160);
    }

    &__title-wrapper {
    }

    &__title-wrapper {
        display: block;
        width: rem(250);
        font-size: $mainTitleMobile;
        margin-bottom: rem(40);
    }

    &__title {

    }

    &__slider-wrapper {
        width: rem(400);
        margin: auto;
    }
}

img {
    min-width: rem(270);
    height: rem(297);
    margin: auto;
    padding: rem(5);
}

.slider-four {

    &__slider-wrapper {
        position: relative;
        width: rem(285);
        max-width: rem(550);
        margin: auto;
    }

    &__text-box {
        height: rem(235);
    }

    &__digit-box {
        position: absolute;
        transform: rotate(-90deg) translatex(-133%) translateY(62%);   
        width: rem(48);
        height: rem(16);
        background-color:#f06e2c;
        font-size: rem(13.2);
        color: #fff;
    }

    &__text {
        width: rem(265);
        height: rem(230);
        margin: auto;
        font-size: rem(16.67);
        padding: rem(40) rem(35);
        line-height: rem(22);
        border: 1px solid rgba(50, 50, 50, 0.02);
        box-shadow: -4px 5px 7px 0px rgba(50, 50, 50, 0.3);
        margin-bottom: 13px;   
    }

    &__desc {
        font-size: $textSizeMobile;
    }

}

@media (min-width: 768px) {

    .section-four {

        &__content {
            display: flex;
            justify-content: space-between;
        }

        &__title-wrapper {
            display: block;
            width: rem(550);
            font-size: $mainTitleNotebook;
        }

        &__title {

        }

    }

    img {
        width: auto;
        max-height: rem(297);
    }

    .slider-four {

        &__slider-wrapper {
            position: relative;
            width: rem(400);
            margin: auto;
            margin-right: rem(25);
        }
    
        &__digit-box {
            position: absolute;
            transform: rotate(-90deg) translatex(-133%) translateY(62%);   
            width: rem(48);
            height: rem(16);
            background-color:#f06e2c;
            font-size: rem(13.2);
            color: #fff;
        }

        &__text-box {
            height: rem(302);
        }
    
        &__text {
            // display: inline-block;
            width: rem(382);
            height: rem(297);
            margin: auto;
            font-size: rem(16.67);
            padding: rem(40) rem(49);
            line-height: rem(22);
            border: 1px solid rgba(50, 50, 50, 0.02);
            box-shadow: -4px 5px 7px 0px rgba(50, 50, 50, 0.3);
            margin-bottom: rem(13);   
        }

        &__desc {
            font-size: $textSizeNotebook;
        }
    }

}

@media (min-width: 1200px) {

    .section-four {

        &__content {
            display: flex;
            justify-content: space-between;
        }

        &__title {

        }

        &__title-wrapper {
            display: inline-block;
            font-size: $mainTitleDesktop;
            width: rem(550);
        }

    }

    img {
        width: auto;
        max-height: rem(297);
    }

    .slider-four {

        &__slider-wrapper {
            width: rem(471);
            margin: auto;
        }
    
        &__text-box {
            height: rem(310);
        }
    
        &__text {
            width: rem(450);
            height: rem(297);
            margin: auto;
            font-size: rem(16.67);
            padding: rem(40) rem(49);
            line-height: rem(22);
            border: 1px solid rgba(50, 50, 50, 0.02);
            box-shadow: -4px 5px 7px 0px rgba(50, 50, 50, 0.3);
            margin-bottom: 13px;   
        }

        &__desc {
            font-size: $textSizeDesktop;
        }
    }

}