.title {
@include leftside__title;
margin: rem(0) auto rem(56);
font-size: rem(30);
max-width: rem(300);

}

.section {
position: relative;

}

.s-bracket {
@include s-bracket;
}


.black-ground {
@include black-ground;
}

.gray-vetical-text {
@include gray-vetical-text;
font-size: rem(90);
line-height: rem(75);
transform: rotate(90deg);
position: absolute;
z-index: -1;
left: rem(0);
top: rem(205);
}

.list {
max-width: rem(200);

    &__item {
        margin-bottom: rem(35);
    }

    &__title {
        @include title;
        font-size: rem(12);
        margin-bottom: rem(20);
        max-width: rem(200);
    }

    &__subtitle {
        color: #ffffff;
        font-family: "Acrom-regular", sans-serif;
        font-size: rem(10);
        line-height: rem(15); 
        margin-bottom: rem(3); 
    }
}

.orange-ground {
    background: #ff6b08;
}

.text {
    @include text;
    margin-bottom: rem(18);
    font-size: $textSizeMobile;
    line-height: rem(15);
    max-width: rem(200);
}


@media (min-width: 768px) {
    .title {
        font-size: rem(57);
        line-height: rem(67);
        max-width: rem(600);
    }

    .gray-vetical-text {
        left: rem(404);
    }


    .list {
        max-width: rem(768);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: rem(0);
        padding-left: rem(120);

        &__title {
           font-size: rem(12.5); 
           line-height: rem(18);
           margin-bottom: rem(10);

        }

        &__item {
            max-width: rem(280);
            flex-basis: 50%;
            margin-bottom: 0;
        }

        &__item-block {
            height: rem(245);
        }

    }

    .three {
        height: rem(180);
    }

    .row-two {
        height: rem(180);
    }


    .row-three {
        height: rem(180);
    }

    .row-four {
        height: rem(205);
    }

    .row-five {
        height: rem(200);
    }


    .text {
        font-size: $textSizeNotebook;
    }


    .special::before {
        font-size: rem(30);
        line-height: rem(38);
        top: rem(-14);
        left: rem(-57.6);
    }

    .special__title::before {
        top: rem(30.9);
        left: rem(-25.6);
        min-width: rem(6.5);
        min-height: rem(6.5);
    }
}

@media (min-width: 1200px) {



    .title {
        font-size: rem(57);
        line-height: rem(67);
        max-width: rem(900);
        
        }

    .special::before {
        font-size: rem(37);
        line-height: rem(42);
        top: rem(-14);
        left: rem(2.4);
    }

    .special__title::before {
        top: rem(30.9);
        left: rem(51.2);
        min-width: rem(8);
        min-height: rem(8);
    }

    .list {
        max-width: rem(900);
        justify-content: space-between;
        padding-left: rem(0);


        &__item {
            padding-left: rem(70);
            flex-basis: 33%;

        }
    }

    .list:nth-last-child(-n+2) {
        justify-content: flex-start;
    }

    .row-one {
        height: rem(245);
    }

    .row-two {
        height: rem(200);
    }

    .row-three {
        height: rem(180);
    }

    .row-four {
        height: rem(205);
    }

    .row-five {
        height: rem(200);
    }

    
    .gray-vetical-text {
        left: rem(172);
        font-size: rem(183);
    }
}

