/*
   Import partials below
*/
@import 'normalize';

@import 'var';

@import 'container';

@import 'reset';

@import 'fonts';

@import 'special-list';

@import 'orange-text-slash';

@import 'text_vs_left-dash';

@import 'spisok';

@import 'sectionTwo';

@import 'sectionFour';

@import 'slick';

@import 'slick-theme';

@import 'header';

@import 'section-one';

@import 'section__three.scss';

@import 'footer';
