@function rem($px) {
  $result: $px / 16;
  @return #{$result}rem;
}

@function prc($el, $container){
  $result: $el / $container * 100%;
  @return #{$result};
}

$textSizeMobile: rem(9);
$mainTitleMobile: rem(12);
$blockTitleMobile: rem(10.5);

$textSizeSmart: rem(13.5);
$mainTitleSmart: rem(18);
$blockTitleSmart: rem(12.5);

$textSizeNotebook: rem(12);
$mainTitleNotebook: rem(30);
$blockTitleNotebook: rem(12.5);

$textSizeDesktop: rem(16);
$mainTitleDesktop: rem(36);
$blockTitleDesctop: rem(12.5);



/* Заголовок хедера H1*/
@mixin leftside__title {
  font-family: "Acrom-extrabold", sans-serif;
  color: #fff;
  font-size: rem(60);
  text-transform: uppercase;
}

/* Загоовки в MAIN H2 */
@mixin title {
  font-family: "Acrom-extrabold", sans-serif;
  color: #000;
  text-transform: uppercase;
}

.main__title {
  @include title;
}

/* Основной текс */
@mixin text {
  font-family: "Acrom-regular", sans-serif;
  color: #3f4144;
}

.main__text {
  @include text;

}

/* СЕРЫЙ ВЕРТИКАЬЫНЙ ТЕКС ВОЗЛЕ КАРТИНОК */
@mixin gray-vetical-text {
  font-family: "Acrom-extrabold", sans-serif;
  color: #f2f2f2;
  text-transform: uppercase;
}

/* СПАН ДЛЯ СКОБОК В ЗАГОЛОВКАХ */
@mixin s-bracket {
  font-family: "Acrom-bold", sans-serif;
  letter-spacing: rem(3);
}

.s-bracket {
  @include s-bracket;
}

/* USE SPAN FOR THIS */
@mixin blue-ground {
  color: #000;
  background: #16ebfe;
}

/* ГОЛУБАЯ ПОДВОДКА ТЕКСТА обворачивать спаном с этим классом*/
.blue-ground-text {
  @include blue-ground;
}

/* USE SPAN FOR THIS */
@mixin black-ground {
  color: #fff;
  background: #000;
}

/* ЧЕРНАЯ ПОДВОДКА ЗАГОЛОВКА обворачивать спаном с этим классом */
.black-ground {
  @include black-ground;
}

$text-orange: #ff6b08;

@mixin orange {
  color: $text-orange;
  font-family: 'Acrom-medium', sans-serif; 
}

.orange {
  @include orange;
}

